:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --percent: 50%;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: rgb(250, 250, 250);
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#container {
  width: 900px;
  height: 500px;
  position: relative;
  overflow: hidden;
}

#solution {
  display: block;
  position: absolute;
  clip-path: inset(0 calc(100% - var(--percent)) 0 0);
  z-index: 2;
}

#design {
  display: block;
  position: absolute;
}

#separator {
  border: 2px solid white;
  position: absolute;
  height: 100%;
  left: var(--percent);
  z-index: 3;
}